.itemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }

  .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    //gap: 4px;

    .item-title {
      margin: 10px 0 4px 0;
    }

    .price {
      display: flex;
      align-items: center;
      gap: 8px;
      .regular-price {
        color: var(--text-gray);
        text-decoration: line-through;
      }
    }
  }
}
