.mainPage {
  display: flex;
  flex-direction: column;
  position: relative;

  .title {
    align-self: center;
    margin: 34px 0;
  }

  .item-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 16px;
    padding: 0 28px;
  }
}

@media only screen and (min-width: 768px) {
  .mainPage {
    .sec-title {
      font-size: 30px;
    }

    .item-sec {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (min-width: 1024px) {
  .mainPage {
    .item-sec {
      padding: 0 90px;
    }

    .item-sec {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
