.headerDestop {
  display: flex;
  align-items: center;
  padding: 0 90px;
  height: 78px;
  border-bottom: 1px solid var(--border-gray);

  .logo {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;

    h1 {
      font-family: 'Montserrat';
      font-size: 24px;
      font-weight: 700;
      margin: 0;
    }

    /*img {
      width: 46px;
      height: 100%;
      cursor: pointer;
    }*/
  }

  .menu-sec {
    display: flex;
    gap: 14px;
    margin-left: 40px;
    padding: 0;
    margin: 0 0 0 40px;

    .menu-tile {
      cursor: pointer;

      &:hover {
        color: var(--text-gray);
        //text-decoration: underline;
        border-bottom: 1px solid var(--text-gray);
      }
    }
  }

  .auth-sec {
    margin-left: auto;
    //display: flex;
    //gap: 18px;
    .fa-icon {
      font-size: 18px;
      color: var(--text-gray);
      cursor: pointer;
    }

    .logout-group {
      display: flex;
      align-items: center;
    }

    .auth-btn {
      border: 1px solid var(--border-gray);
      padding: 8px 16px;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .headerDestop {
    display: none;
  }
}
